<div class="container sidebar col-2">
  
    <form class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 text-white" type="submit">Search</button>
      </form>
   </div>
   
   <div class="container col-10">
   <div (click)="cardFunc()" class="card" style="width: 18rem;">
     <a [href]="myLink"> <img class="card-img-top" src="assets/helloworld.png" alt="Card image cap">
     <div class="card-body">
       <h3>Hello World</h3>
       <p class="card-text">Simple hello world example</p>
     </div>
   </a>
   </div>  
   </div>
