<div id = "container">
  <div id ="descriptionContainer">
    <div id="description">
      <h1>Connectors Marketplace</h1>
      <h4 class="text-muted">Seamless API integration powered by Google Apigee</h4>
    </div>
  </div>
  <!-- <div id = "carouselContainer" class="col-6">
    <div id="carousel">
      <carousel [noWrap]="noWrapSlides" [showIndicators]="showIndicator">
        <slide *ngFor="let image of images; index as i">
          <a routerLink = "/product"> 
            <img [src]= image alt="image slide" >
         
            <div class="carousel-caption">
              <h4>{{descriptionTitles[i]}}</h4>
              <p>{{descriptionCaptions[i]}}</p>
            </div>

          </a>
        </slide>
      </carousel>
  </div> -->
  <br>
  <br>
  <br>
  <div class="row">
    <div class="column col-4">
      <div class="card" style="background-image: url(/assets/MFA.png)"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur libero eu efficitur ornare. Morbi condimentum sapien nisi, id elementum.</p>
    </div>
    <div class="column col-4">
      <div class="card" style="background-image: url(/assets/i9.png)"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur libero eu efficitur ornare. Morbi condimentum sapien nisi, id elementum.</p>
    </div>
    <div class="column col-4">
      <div class="card" style="background-image: url(/assets/Safe.png)"></div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla efficitur libero eu efficitur ornare. Morbi condimentum sapien nisi, id elementum.</p>
    </div>
  </div>
 


 
<!-- ngBootstrap carousel
  <div class="container col-4" id = "carouselContainer">
    <ngb-carousel #carousel [interval] = "2000" [pauseOnHover] = "pauseOnHover" [pauseOnFocus] = "pauseOnFocus" (slide) = "onSlide($event)">
      <ng-template ngbSlide *ngFor = "let img of images; index as i">
        <div id = caption class="carousel-caption">
          <h4>{{descriptionTitles[i]}}</h4>
        </div>
        <a routerLink = "/productmenu"> 
          <div class = "picsum-img-wrapper">
            <img [src] = "img" alt = "descriptionCaptions[i]">
          </div>
        </a>
      </ng-template>
    </ngb-carousel>
  </div>-->
</div>