.navbar{
    background-color: #a80a35;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    padding: 6px;
}

.nav-link{
    margin-left: 20px;
}
.nav-link:hover{
    background-color: brown;
    border-radius: 18px;
}

.navbar img{
    height: 40px;
    width: 156px;
}
#navbarSupportedContent{
    float: left;
    justify-content: center !important;
}

.dropdown-menu{
    display:block;
}

.nav-item a{
    color: #F0F0F099 !important;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}