.navbar{
    background-color: #981E32;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-link{
    margin-left: 20px;
}
.nav-link:hover{
    background-color: brown;
    border-radius: 18px;
}

.navbar img{
    height: 50px;
    width: 80px;
}
#navbarSupportedContent{
    float: left;
    justify-content: end !important;
}

.dropdown-menu{
    display:block;
}

.nav-item a{
    color: #F0F0F0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
