<nav class="navbar navbar-expand-lg navbar-light p-3">
    <img src="assets/logo.jpg" alt="user"> <!--this will be image if we have logo-->
    
  
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="#" routerLink="detail">Home</a>
        </li>
        <li class="nav-item dropdown" (click)="dropdownToggle()">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Product Menu
          </a>
          <div class="dropdown-menu" [hidden]="dropdown" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Item 1</a>
            <a class="dropdown-item" href="#">Item 2</a>
            <a class="dropdown-item" href="#">Item 3</a>
          </div>
        </li>
        
        
      
        <li class="nav-item px-0 " title="cart">
          <a class="nav-link text-white " href="https://janpqadjfpywpmc-y0v14n7w7vws458w.accounts.apigee.io/create" >Register</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="https://janpqadjfpywpmc-y0v14n7w7vws458w.accounts.apigee.io/login" >sign in</a>
      </li>
      </ul>
   

     
      
    </div>
    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 text-white" type="submit">Search</button>
    </form>
  
  </nav>
  