<div class="container sidebar col-2">
    <form class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 text-white" type="submit">Search</button>
      </form>
</div>
   
   <div class="container col-10">
   <!--<div routerLink= "/detail" class="card" style="width: 18rem;">-->
     <div class="card" style="width: 18rem;" (click) = "loadDetail(0)">
     <a> <img class="card-img-top" src="assets/helloworld.png" alt="Card image cap">
      <div class="card-body">
        <h5>Hello World</h5>
        <p class="card-text">Simple hello world example</p>
      </div>
    </a>
   </div>  
   <div class="card" style="width: 18rem;" (click) = loadDetail(1)>
    <a> <img class="card-img-top" src="assets/hello.png" alt="Card image cap">
      <div class="card-body">
        <h5>Hello World - Deployed</h5>
        <p class="card-text">Outputs Hello World</p>
      </div>
    </a>
  </div>
    <div class="card" style="width: 18rem;" (click) = loadDetail(2)>
      <a> <img class="card-img-top" src="assets/welcome.jpg" alt="Card image cap">
        <div class="card-body">
          <h5>Welcome</h5>
          <p class="card-text">Equifax Portal Greeting</p>
        </div>
      </a>
    </div>
  </div>
