.card:hover{
    box-shadow: 2px 2px 4px black;
    transform:scale(1.02);
    text-decoration: none;
    color: black;
 }
 
 .card{
    margin: 0.5em;
    display:inline-flex;
    transition: all 0.1s ease;
    flex-wrap: wrap;
    cursor: pointer;
    height: 300px;
    margin-top: 2px;
 }
 
 .container{
     align-items: end;
     justify-content: end;
     margin-top: 2px;
 }

 a {
    text-decoration: none;  
    color:black
 }

  .sidebar{
      background-color:rgba(48, 44, 42, 0.952);
      float: left;
      height: 100vh;
  }

  
 