<div class="container">
    <div class= "header">
      <h1>How To Use:</h1> 
    </div>
  
    <section id="sec1">
      <h2>Test Before Purchase</h2>
      <div class="row">
        <div class="col-md-8">
          <ul class= "list">
            <li>Receive authorization for API calls upon purchase.</li>
            <li>Use the designated URL with the appropriate endpoint for your application needs.</li>
            <li>Receive responses and use the information to bolster your application functionality.</li>           
            <!-- <li>This is a fun app for y</li> -->
          </ul>
        </div>
      </div>
    </section>
     

    <section id="sec2">
      <h2>Authentication</h2>
      <div class="alert alert-danger" role="alert">
        Full access to APIs is given upon purchase, however, feel free to use the the Apigee portal as a test environment.
     </div>
    </section>   

    <section id="sec3">
      <h2>API interfaces</h2>
      <br>
      <h6>Request methods: GET </h6>
      <h6>Request url: https://mocktarget.apigee.net </h6>
      <h6>Request Parameters </h6>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Required</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">user</th>
            <td>string</td>
            <td>Yes</td>
            <td>Your user name</td>
          </tr>
        </tbody>
      </table>
      <h6>Response information </h6>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Status code</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">200</th>
            <td>Success</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-8">
          <h4>Success page</h4>
          <div class="box"> 
            <img src="assets/helloworldapi/url_suc.png" alt="image">
          </div>
        </div>
      </div>
      <br>
      <br>
      <h6>Request methods: GET </h6>
      <h6>Request url: https://mocktarget.apigee.net/auth </h6>
      <h6>Request Parameters: No </h6>
      <h6>Response information </h6>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Status code</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">200</th>
            <td>Success</td>
          </tr>
          <tr>
            <th scope="row">401</th>
            <td>Access denied</td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div class="col-md-8">
          <h4>Failed page</h4>
          <div class="box"> 
            <img src="assets/helloworldapi/url_auth_fail.png" alt="image">
          </div>
        </div>
      </div>
    </section>

    
</div>