<div class="container">
    <h1>API Verification</h1>
  
    <section id="sec1">
      <h2>Section 1</h2>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li><a href="#">Authentication</a></li>
            <br>
            <br>
            <li><a href="#">Environments</a></li>
            <br>
            <br>
            <li><a href="#">Create a template</a></li>
            <br>
            <br>
          </ul>
        </div>
      </div>
    </section>

    <section id="sec2">
  
      <h2>Section 2</h2>
      <h4  style="color:#981E32">Request Parameters </h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Required</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Username</th>
            <td>String</td>
            <td>Yes</td>
            <td>The name of user</td>
          </tr>
          <tr>
            <th scope="row">Middle name</th>
            <td>String</td>
            <td>No</td>
            <td>Middle name of the user</td>
          </tr>
        </tbody>
      </table>

      <br>
      <br>

      <h4  style="color:#981E32">Response information </h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Status code</th>
            <th scope="col">Response item</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>404</td>
            <td>Error message</td>
            <td>Request failed</td>
          </tr>
        </tbody>
      </table>
      <br>
    </section>
    <section id="sec3">
  
      <h2>Section 3</h2>
      <div class="row">
        <div class="col-md-3">
            <p>To display code: </p>

            <pre>
               &lt;article&gt;
                  &lt;h1&gt;Art&lt;/h1&gt;
               &lt;/article&gt;

            </pre>
        </div>
      </div>
    </section>
    <section id="sec4">
      <h2>Section 4</h2>
      <div class="row">
        <div class="col-md-3">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li><a href="#">Home</a></li>

  
          </ul>
        </div>
      </div>
    </section> 
  </div>