<div class = "content">
    <div class = "left">

        <br>
        <br>
        <div class="col text-center">
            <a [routerLink] = "[ '/detail/introduction' ]" class="btn btn-light" role="button" >API Introduction</a>
        </div>
        <br>
        <br>
        <div class="col text-center">   
            <a [routerLink] = "[ '/detail/verification' ]" class="btn btn-light" role="button" >API Verification</a>
        </div>
        <br>
        <br>
        <div class="col text-center">
            <a href="https://javagcp210907-ak-marketplace.apigee.io/docs/hello-world/1/overview" class="btn btn-light" role="button" >&nbsp; &nbsp; &nbsp; Test API&nbsp; &nbsp; &nbsp; </a>
        </div>
        <br>
        <br>
        <div class="col text-center">
            <a href="https://javagcp210907-ak-marketplace.apigee.io/docs/hello-world/1/overview" class="btn btn-light" role="button" >&nbsp;&nbsp;Add to cart&nbsp;&nbsp; </a>
        </div>

    </div>

    <div class = "right">
        <router-outlet></router-outlet>

    </div>


</div>
