<div class="container sidebar col-2">
  
 <p>THIS IS THE SIDE BAR</p>
 <p>THIS IS THE SIDE BAR</p>
 <p>THIS IS THE SIDE BAR</p>
 <p>THIS IS THE SIDE BAR</p>
 <p>THIS IS THE SIDE BAR</p>
 <p>THIS IS THE SIDE BAR</p>
</div>

<div class="container col-10">
<div (click)="cardFunc()" class="card" style="width: 18rem;">
  <a [href]="myLink"> <img class="card-img-top" src="assets/helloworld.png" alt="Card image cap">
  <div class="card-body">
    <h3>Hello World</h3>
    <p class="card-text">Simple hello world example</p>
  </div>
</a>
</div>  
</div>
