<div class="container">
    <h1>API Introduction</h1>
  
    <section id="sec1">
      <h3>Overview</h3>
      <div class="row">
        <div class="col-md-8">
          <p class="text-start">Hello World API provides a seamless way to... The Hello World API is built on RESTful principles...</p>
        </div>
      </div>
    </section>

    <section id="sec2">
  
      <h2>Functionality</h2>
      <div class="row">
        <div class="col-md-8">
          <ul>
            <li>Functionality one</li>
            <li>Functionality two</li>
            <li>Functionality three</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="sec3">
      <h2>How to use the API</h2>
      <div class="row">
        <div class="col-md-8">
          <div class="Box">
            <div class="Box-row"> 
              <h4>Step 1: Enable ...</h4>
              <img src="assets/mocktest.png" alt="image" >
            </div> 
          </div>   
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-8">
          <h4>Step 2: Enable ...</h4>
          <div class="box"> 
            <img src="assets/createapp.png" alt="image">
          </div>
        </div>
      </div>
    </section>
    <section id="sec4">
      <div class="row">
        <div class="col-md-8">
          <ul>
            <li><a href="#">1.</a></li>
            <li><a href="#">2.</a></li>
          </ul>
        </div>
        <div class="col-md-8">
          <ul>
            <li><a href="#">3.</a></li> 
          </ul>
        </div>
      </div>
    </section> 
  </div>